In [1]:
# This Python script demonstrates how to use the SPARQL language to query a Brick model.
# SPARQL: A query language for retrieving and manipulating data stored in Resource Description Framework (RDF) format

# Install necessary Python pakcages
import pandas as pd
from rdflib.namespace import RDFS, SKOS
from pandas import DataFrame
from rdflib import Graph, URIRef
import brickschema
from brickschema.namespaces import A, BRICK, UNIT, XSD
import datetime

-----------

#### **Accessing brick model in turtle (.ttl) file**

In [2]:
file = 'PV generation system metadata.ttl'
graph = Graph()
graph.parse(file, format='turtle')

----------

#### **Inquiring overall information of power stations**

##### 1.Number of PV stations

In [3]:
q = """
select (count(*) as ?tripleCount) where {
  ?station a brick:PV_Generation_System.
}
"""
res = graph.query(q)
for row in res:
    count = row[0]
    print(f"There are {count} PV stations on campus.")

There are 60 PV stations on campus.

##### 2.Types of PV inverter

In [4]:
q = """
select (count(distinct ?inverterModel) as ?numInverterModels) where {
  ?inverter a brick:Inverter;
           ext:module [ brick:value ?inverterModel] 
}
"""
res = graph.query(q)
for row in res:
    count = row[0]
    print(f"There are {count} types of PV inverter on campus.")

There are 23 types of PV inverter on campus.

##### 3.Types of PV module

In [5]:
q = """
select (count(distinct ?moduleModel) as ?numModuleModels) where {
  ?module a brick:PV_Panel;
           ext:module [ brick:value ?moduleModel] 
}
"""
res = graph.query(q)
for row in res:
    count = row[0]
    print(f"There are {count} types of PV module on campus.")

There are 8 types of PV module on campus.

##### 4.Campus PV station capacity (Sum, Min, Max, Avg)

In [6]:
q1 = """
select (SUM(?capacity) as ?sumcapacity) where {
   ?station a brick:PV_Generation_System;
           ext:ratedPowerOutput [ brick:hasUnit unit:KW; brick:value ?capacity];
}
"""
res = graph.query(q1)
for row in res:
    total = row[0]
    print(f"Total capacity of PV stations is {total} kW.")

q2 = """
select (MIN(?capacity) as ?mincapacity) where {
   ?station a brick:PV_Generation_System;
           ext:ratedPowerOutput [ brick:hasUnit unit:KW; brick:value ?capacity];
}
"""
res = graph.query(q2)
for row in res:
    min = row[0]
    print(f"The minimum capacity of single PV station is {min} kW..")


q3 = """
select (MAX(?capacity) as ?maxcapacity) where {
   ?station a brick:PV_Generation_System;
           ext:ratedPowerOutput [ brick:hasUnit unit:KW; brick:value ?capacity];
}
"""
res = graph.query(q3)
for row in res:
    max = row[0]
    print(f"The maximum capacity of single PV station is {max} kW.")
    
q4 = """
select (AVG(?capacity)  as ?avgcapacity) where {
   ?station a brick:PV_Generation_System;
           ext:ratedPowerOutput [ brick:hasUnit unit:KW; brick:value ?capacity];}
"""
res = graph.query(q4)
for row in res:
    mean = row[0]
    print(f"The mean capacity of single PV station is {mean} kW.")

Total capacity of PV stations is 2230.81 kW.
The minimum capacity of single PV station is 3.72 kW..
The maximum capacity of single PV station is 249.5 kW.
The mean capacity of single PV station is 37.18016666666666666666666667 kW.

----------------

#### **Time related inqueries**

##### 1.The earliest and latest constructed PV station

In [7]:
q1 = """
select (MIN(?Connectiontime) as ?earliesttime) where {
    ?station a brick:PV_Generation_System;
           ext:connectionDate [  brick:value ?Connectiontime];
}
"""
q2 = """
select (MAX(?Connectiontime) as ?latesttime) where {
    ?station a brick:PV_Generation_System;
           ext:connectionDate [  brick:value ?Connectiontime];
}
"""

res = graph.query(q1)
for row in res:
    earliestdate = row[0]
    print(f"The earliest PV station was constructed on {earliestdate} .")
res = graph.query(q2)
for row in res:
    latesetdate = row[0]
    print(f"The lateset PV station was constructed on {latesetdate} .")

The earliest PV station was constructed on 2020-12-01T00:00:00 .
The lateset PV station was constructed on 2023-07-29T00:00:00 .

##### 2.Operation period of each station

In [8]:
q = """
select ?station ?Connectiontime  where {
    ?station a brick:PV_Generation_System;
           ext:connectionDate [  brick:value ?Connectiontime];
}
"""
res = graph.query(q)

today=datetime.date.today()
today=pd.to_datetime(today)

time_df=DataFrame(res, columns=res.vars)
time_df.columns = time_df.columns.str.strip()
time_df[['Namespace', 'Sitename']] = time_df["station"].str.split('#', expand=True)
#time_df=time_df.drop(['Site'], axis=1)
time_df=time_df[["Sitename","Connectiontime"]]
time_df["Connectiontime"]=pd.to_datetime(time_df["Connectiontime"])
time_df["Operation Days"]=(today-(time_df["Connectiontime"])).dt.days
time_df["Operation Years"]=(time_df["Operation Days"]/365).round(2)

time_df

,Sitename,Connectiontime,Operation Days,Operation Years
0,CYT__Station_1_,2021-01-30,1130,3.10
1,CYT__Station_2_,2021-01-30,1130,3.10
2,Indoor_Sport_Center,2021-12-01,825,2.26
3,LSK_North,2021-04-30,1040,2.85
4,LSK_South,2021-04-30,1040,2.85
5,Library,2022-05-31,644,1.76
6,SQ1,2021-04-30,1040,2.85
7,SQ10,2021-04-30,1040,2.85
8,SQ11,2021-04-30,1040,2.85
9,SQ12,2021-02-27,1102,3.02
10,SQ13,2021-02-27,1102,3.02
11,SQ14,2021-02-27,1102,3.02
12,SQ15,2021-02-27,1102,3.02
13,SQ16,2021-02-27,1102,3.02
14,SQ17,2021-02-27,1102,3.02
15,SQ18,2021-01-30,1130,3.10
16,SQ19,2021-01-30,1130,3.10
17,SQ2,2021-04-30,1040,2.85
18,SQ3,2021-06-01,1008,2.76
19,SQ4,2021-04-30,1040,2.85
20,SQ567,2021-06-01,1008,2.76
21,SQ567_Flexible_PV,2021-06-01,1008,2.76
22,SQ8,2021-02-27,1102,3.02
23,SQ9,2021-02-27,1102,3.02
24,SQ_Apartment13_24,2021-07-07,972,2.66
25,SQ_Apartment1_12,2021-07-07,972,2.66
26,SQ_Apartment25_36,2021-07-07,972,2.66
27,SQ_Apartment37_48,2021-07-07,972,2.66
28,SQ_Apartment37_48_Flexible_PV,2021-07-07,972,2.66
29,SQ_Block_P,2023-07-21,228,0.62
30,SQ_Block_Q,2022-08-12,571,1.56
31,SQ_Block_Q__Phrase_2_,2022-09-23,529,1.45
32,SQ_Block_R,2021-08-18,930,2.55
33,SQ_Block_S,2021-08-18,930,2.55
34,S_H_Ho_Sports_Hall,2021-10-02,885,2.42
35,Shaw_Auditorium,2023-07-29,220,0.60
36,Tower_A,2020-12-01,1190,3.26
37,UG_Hall2_2F,2021-06-01,1008,2.76
38,UG_Hall2_RF,2021-04-30,1040,2.85
39,UG_Hall3,2021-06-01,1008,2.76
40,UG_Hall4,2021-06-01,1008,2.76
41,UG_Hall4_Flexible_PV,2021-06-01,1008,2.76
42,UG_Hall6,2021-04-30,1040,2.85
43,UG_Hall7,2021-06-01,1008,2.76
44,UG_Hall7_Flexible_PV,2021-06-01,1008,2.76
45,UG_Hall8,2023-03-01,370,1.01
46,UG_Hall9,2023-03-01,370,1.01
47,Wong_Check_She_Research_Centre,2021-08-31,917,2.51
48,Zone_A1,2021-06-01,1008,2.76
49,Zone_A2,2023-05-31,279,0.76
50,Zone_A4,2021-06-01,1008,2.76
51,Zone_A5,2021-10-02,885,2.42
52,Zone_A6,2021-07-31,948,2.60
53,Zone_A7,2021-11-08,848,2.32
54,Zone_D,2021-12-01,825,2.26
55,Zone_J1,2021-11-08,848,2.32
56,Zone_J2,2021-12-01,825,2.26
57,Zone_L1__Station_1_,2021-01-30,1130,3.10
58,Zone_L1__Station_2_,2021-01-30,1130,3.10
59,Zone_L2,2022-07-30,584,1.60

-------

#### **Specific Site Information** （Taking the Indoor Sport Center site as an example）

##### 1.Site Information

In [9]:
q = """
select ?Latitude_degree ?Longitude_degree ?Altitude_m ?Ratedpower_kW ?Connectiontime ?Contractor where {
  pvsystem:Indoor_Sport_Center a brick:PV_Generation_System ;
    brick:coordinates [ brick:latitude ?Latitude_degree ;
            brick:longitude ?Longitude_degree ] ;
    ext:altitude [ brick:hasUnit unit:M ;
            brick:value ?Altitude_m ] ;
    ext:connectionDate [ brick:value ?Connectiontime ] ;
    ext:contractor [ brick:value ?Contractor ] ;
    ext:ratedPowerOutput [ brick:hasUnit unit:KW ;
            brick:value ?Ratedpower_kW ] .
}
"""
res = graph.query(q)

site_information=DataFrame(res, columns=res.vars)
site_information

,Latitude_degree,Longitude_degree,Altitude_m,Ratedpower_kW,Connectiontime,Contractor
0,22.28,114.17,3.0,33.3,2021-12-01T00:00:00,Indoor_Sport_Centre_Building

##### 2.Inverter Information

In [10]:
q = """
select ?Brand ?Module ?Number where {
  pvsystem:Indoor_Sport_Center_Inverter a brick:Inverter  ;
    ext:brand [ brick:value ?Brand ] ;
    ext:module [ brick:value ?Module ] ;
    ext:number [ brick:value ?Number ].
}
"""
res = graph.query(q)

inverter_information=DataFrame(res, columns=res.vars)
inverter_information

  Brand                   Module Number
0   SMA  Sunny_Tripower_STP_10_0      1

##### 3.Module Information

In [11]:
q = """
select ?Brand ?Module ?RatedPower_W ?Number ?PanelGegradationRate_FirstYear_percent ?PanelLinearGegradation_percent ?Type  where {
pvsystem:Indoor_Sport_Center_Module a brick:PV_Panel ;
    ext:brand [ brick:value ?Brand ] ;
    ext:module [ brick:value ?Module ] ;
    ext:number [ brick:value ?Number ] ;
    ext:panelDegradationFirstYear [ brick:hasUnit unit:PERCENT ;
            brick:value ?PanelGegradationRate_FirstYear_percent ] ;
    ext:panelLinearDegradation [ brick:hasUnit unit:PERCENT ;
            brick:value ?PanelLinearGegradation_percent] ;
    ext:ratedPowerOutput [ brick:hasUnit unit:W ;
            brick:value ?RatedPower_W ] ;
    ext:specificType [ brick:value ?Type ] .
}
"""
res = graph.query(q)

module_information=DataFrame(res, columns=res.vars)
module_information

,Brand,Module,RatedPower_W,Number,PanelGegradationRate_FirstYear_percent,PanelLinearGegradation_percent,Type
0,JinkoSolar,JKM365N_6TL3,365.0,120,1.0,0.4,Si_mono_Model